@mixin container{
  width: 940px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@mixin flexBoxBetweenCenter{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
}
@mixin flexBoxCenterCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}