@import "partials/params";
@import "partials/mixins";


#mainContent{

    a{
        display: flex;
        i{
            margin-left: 10px;
        }
    }

    #listArticles{
        @include container;
        @include flexBoxBetweenCenter;
        margin-bottom: 100px;

        article:first-child{
            h2{
                font-weight: bold;
            }
            a{
                font-weight: lighter;
            }
        }
        article{
            width: 280px;

            h2{
                font-size: 26px;
                font-weight: lighter;
            }
            a{
                width: 80px;
            }
            P{
                font-size: 15px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}
