@import "partials/params";
@import "partials/mixins";


#mainFooter{
    @include container;
    border-top: lighten($colorTextForP, 10%) 1px solid;

    .boxFooter{
            @include flexBoxBetweenCenter;
            height: 100px;
        .link-net{
            width: 120px;
            ul{
                @include flexBoxBetweenCenter;
                list-style: none;
                li{
                    a{
                        font-size: 20px;
                        color: $colorTextForP;
                    }
                    a:hover{
                        color: $colorForTextAndBG;
                    }
                }
            }
        }
        .textFooter{
            p{
                font-size: 14px;
            }
        }
    }
}
